<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TLSF.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>TransDB Release.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TransDB.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>shared.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>zlib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8D033CE2162ECC45007C2DA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D033D4C162EE203007C2DA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D033D84162EE26C007C2DA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D033D8C162EE27D007C2DA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D033D94162EE326007C2DA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DFE273315E22B6C007F75A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DFE274415E22B89007F75A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DFE27C315E22C0C007F75A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DFE280015E22C62007F75A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
